{% extends 'base.html' %}
{% block title %}
	{{ title }}
{% endblock title %}

{% block content %}
	<h1>{{ description }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, nostrum cumque dolores explicabo eaque culpa deleniti assumenda maiores, illum doloremque earum fugit porro ad! Ratione amet, vero ea adipisci dicta magni libero laborum reiciendis itaque iure? Ipsa incidunt inventore iste ab tempore laborum quia cumque est exercitationem blanditiis cum, maxime cupiditate corrupti ad qui asperiores expedita. Ipsum facere dolorem repellat?</p>
{% endblock %}