{% extends 'base.html' %}
{% block title %}
	{{ title }}
{% endblock title %}

{% block content %}
	<h1>{{ description }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptate delectus magnam labore autem aut eaque, dicta in tempore nulla eveniet doloribus minima tempora architecto optio obcaecati assumenda et sed veniam iste sit esse. Dolorum nam maxime praesentium quod beatae, consequatur, iusto adipisci hic dicta optio voluptate atque ullam facere omnis distinctio eaque non dolore fugit eum odio! Sequi assumenda, corporis corrupti nulla exercitationem accusamus maiores perferendis neque ratione earum, reprehenderit ipsam ullam possimus animi. Voluptas eligendi est magnam vero veniam atque maiores dolorum alias nam, repellat, rerum in quod debitis minus! Ducimus quam quasi commodi adipisci cupiditate. Praesentium, quasi.</p>
{% endblock %}