{% extends 'base.html' %}
{% block title %}
	{{ title }}
{% endblock title %}

{% block content %}
	<h1>{{ description }}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod asperiores repellat praesentium aliquam ipsa necessitatibus quaerat vitae velit totam, odio corporis nisi inventore maxime ab ex nam blanditiis! Consequuntur, maxime, numquam dolores ullam minima consectetur dolorem minus rem officia sint itaque, totam necessitatibus natus debitis perferendis quisquam architecto esse! Dolor tempora et qui odit a.</p>
{% endblock %}